<h1>Cohorts</h1>
<p>Active Cohorts</p>
<div class="container">
  <div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <b>COHORT</b>
    </div>
    <div class="col-md-2">
      <b>START DATE</b>
    </div>
    <div class="col-md-2">
      <b>END DATE</b>
    </div>
    <div class="col-md-2">
      <b>COURSE</b>
    </div>
    <div class="col-md-2">
      <b>INSTRUCTOR</b>
    </div>
    <div class="col-md-1">
    </div>

  </div>
</div>
<div class="main overflow-auto">

<% Cohort.all.each do |c|%>
<div id="<%= c.id%>" class="row shadow-sm p-3 mb-5 bg-white rounded">
  <div class="col-md-1">
  </div>

<div class="col-md-2 border-right">
  <%= link_to(c.name, "/cohorts/#{c.id}")%>

</div>
<div class="col-md-2 border-right">
  <% if c.start_date == nil%>
  <%= "Not yet available"%>
  <% else%>
  <%= link_to(c.start_date, "/cohorts/#{c.id}")%>
<% end%>
</div>
<div class="col-md-2 border-right">
  <% if c.start_date == nil%>
  <%= "Not yet available"%>
  <% else%>
  <%= link_to(c.end_date, "/cohorts/#{c.id}")%>
<% end%>

</div>
<div class="col-md-2 border-right">
  <%= link_to(c.course.name, "/cohorts/#{c.id}")%>

</div>
<div class="col-md-2">
  <%= link_to("#{c.instructor.last_name}, #{c.instructor.first_name}", "/instructors/#{c.instructor.id}")%>

</div>
<div class="col-md-1">
</div>

</div>
<% end%>
</div>
