<h1>Students#edit</h1>
<%= form_for(@student, url: edit_student_url) do |f|%>

<%= f.label :email%>
<%= f.email_field :email%><br>
<%= f.label :password%>
<%= f.password_field :password%><br>

<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation%><br>

<%= f.submit "Submit"%>
<% end %>
