<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>
<p><%= @student.first_name%></p>
<div class="container main">
    <p>First name: <%= @student.first_name%></p>

   <p>Last name: <%= @student.last_name%></p>
  <p>Email: <%= @student.email%></p>
  <p>Enrolled: <%= @student.enrolled.to_s%></p>
  <p>Age: <%= @student.age%></p>
  <p>Education: <%= @student.education%></p>
  <p>Cohorts: <%= @student.first_name%></p>

    <p>
      <a href=<%= "/student/edit"%>>
        <i class="fas fa-user-edit"></i>
      </a>
    </p>
</div>
