<h1>Edit</h1>
<p>Edit student <%= "#{@student.last_name}, #{@student.first_name}"%></p>
<%= form_for [:admin, @student] do |f|%>
<div class="form-row">
  <%= f.label :first_name, "First Name", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3 ml-0">
    <%= f.text_field :first_name%>
  </div>
</div>

<div class="form-row">
  <%= f.label :last_name, "Last Name", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3 ml-0">
    <%= f.text_field :last_name%>
  </div>
</div>

<div class="form-row">
  <%= f.label :email, {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3 ml-0">
    <%= f.email_field :email%>
  </div>
</div>

<div class="form-row">
  <%= f.label :education, "Education Level", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3 ml-0">
    <%= f.select:education, [['Highschool'], ['College'], ['Masters'], ['PhD']]%>
  </div>
</div>

<div class="form-row">
  <%= f.label :age, {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3 ml-0">
    <%= f.number_field :age%>
  </div>
</div>

<div class="row">
<div class="form-group col-sm-1 offset-sm-6">
    <%= f.submit "Submit"%>

  </div>
</div>
<% end%>
 <br><br>
