<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>
<%= form_for [:admin, @student] do |f|%>
<%= f.label :first_name, "First Name"%>
<%= f.text_field :first_name%><br>
<%= f.label :last_name, "Last Name"%>
<%= f.text_field :last_name%><br>
<%= f.label :email%>
<%= f.email_field :email%><br>
<%= f.label :education, "Education Level"%>
<%= f.select:education, [['Highschool'], ['College'], ['Masters'], ['PhD']]%><br>
<%= f.label :age%>
<%= f.number_field :age%><br>
<%= f.submit "Submit"%>
<% end%>
 <br><br>
