
<h1>Students#index</h1>
<a href="/admin/students/new"><button type="button" class="btn btn-success">New Student</button></a><br>
<div class="container">

<div class="row">
  <div class="col-md-2">
    FIRST NAME
  </div>
  <div class="col-md-2">
    LAST NAME
  </div>
  <div class="col-md-2">
    AGE
  </div>
  <div class="col-md-2">
    EDUCATION
  </div>
  <div class="col-md-2">
    ENROLLED
  </div>
  <div class="col-md-2">
    OPTIONS
  </div>
</div>
</div>
<div class="main overflow-auto">
<% Student.all.each do |s|%>

<div id = "<%= s.id%>"class="row shadow-sm p-3 mb-5 bg-white rounded">
  <div class="col-md-2 border-right">
    <%= link_to(s.first_name, "/admin/students/#{s.id}")%>
  </div>
  <div class="col-md-2 border-right">
    <%= link_to(s.last_name, "/admin/students/#{s.id}")%>
  </div>
  <div class="col-md-2 border-right">
    <%= link_to(s.age, "/admin/students/#{s.id}")%>
  </div>
  <div class="col-md-2 border-right">
    <%= link_to(s.education, "/admin/students/#{s.id}")%>
  </div>
  <div class="col-md-2 border-right">
    <%= link_to(s.enrolled.to_s, "/admin/students/#{s.id}")%>
  </div>
  <div class="col-md-2 ">
    <a href=<%= "/admin/students/#{s.id}/edit"%>>
      <i class="fas fa-user-edit float-left"></i>
    </a>
    <a href=<%= "/admin/students/#{s.id}"%>>
      <i class="far fa-id-card"></i>
    </a>
    <%= link_to '', "/admin/students/#{s.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt float-right"%><br>

  </div>
</div>
<% end%>


</div>
