<h1>Add new Student</h1>
<div class="container main">

<%= form_for [:admin, @student] do |f|%>

  <div class="form-group">
    <%= f.text_field :first_name, placeholder:"First Name"%>
  </div>

  <div class="form-group">
    <%= f.text_field :last_name, placeholder:"Last Name"%>
  </div>

  <div class="form-group">
    <%= f.email_field :email, placeholder:"Email"%>
  </div>

  <div class="form-group">
    <%= f.label :password, "Do not change unless permitted"%><br>
    <%= f.password_field :password, value:(0...8).map { (65 + rand(26)).chr }.join%>
  </div>

  <div class="form-group">
  <%= f.label :education, "Education Level", {class: ""}%><br>
    <%= f.select:education, [['Highschool'], ['College'], ['Masters'], ['PhD']], {class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= f.number_field :age, placeholder:"Age"%>
  </div>


  <div class="form-group">
    <%= f.submit "Submit"%>
  </div>
<% end %>
</div>
</div>
