<h1>Students#show</h1>
<p><%= @student.first_name%></p>
<div class="container main">
    <p>First name: <%= @student.first_name%></p>

   <p>Last name: <%= @student.last_name%></p>
  <p>Email: <%= @student.email%></p>
  <p>Enrolled: <%= @student.enrolled.to_s%></p>
  <p>Age: <%= @student.age%></p>
  <p>Education: <%= @student.education%></p>
  <p>Cohorts: <%= @student.first_name%></p>

    <p>
      <a href=<%= "/admin/students/#{@student.id}/edit"%>>
        <i class="fas fa-user-edit"></i>
      </a>
      <%= link_to '', "/admin/students/#{@student.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt"%>
    </p>
</div>
