<h1><%= "#{@student.first_name} #{@student.last_name}"%></h1>
<p>Student info</p>
<div class="container main">
    <p><b>First name:</b> <%= @student.first_name%></p>

   <p><b>Last name:</b> <%= @student.last_name%></p>
  <p><b>Email:</b> <%= @student.email%></p>
  <p><b>Enrolled:</b> <%= @student.enrolled.to_s%></p>
  <p><b>Age:</b> <%= @student.age%></p>
  <p><b>Education:</b> <%= @student.education%></p>
  <!-- <p><b>Cohorts:</b> <%= @student.first_name%></p> -->

    <p>
      <a href=<%= "/admin/students/#{@student.id}/edit"%>>
        <i class="fas fa-user-edit"></i>
      </a>
      <%= link_to '', "/admin/students/#{@student.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt"%>
    </p>
</div>
