<h1>Instructors</h1>
<p>Our Instructors</p>
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <b>FIRST NAME</b>
    </div>
    <div class="col-md-3">
      <b>LAST NAME</b>
    </div>
    <div class="col-md-3">
      <b>EMAIL</b>
    </div>

    <div class="col-md-3">
      <b>ACTIVE</b>
    </div>

  </div>
  </div>

<div class="main overflow-auto">

<% Instructor.all.each do |i|%>

<div id="<%=i.id%>"class="row shadow-sm p-3 mb-5 bg-white rounded">
  <div class="col-md-3 border-right">
    <%= link_to(i.first_name, "/instructors/#{i.id}")%>

  </div>
  <div class="col-md-3 border-right">
    <%= link_to(i.last_name, "/instructors/#{i.id}")%>

  </div>
  <div class="col-md-3 border-right">
    <%= link_to(i.email, "/instructors/#{i.id}")%>

  </div>

  <div class="col-md-3 border-right">
    <%= link_to(i.active.to_s, "/instructors/#{i.id}")%>

  </div>

</div>
<% end%>


</div>
