<h1><%= "#{@instr.first_name} #{@instr.last_name}"%></h1>
<p>Instructor info</p>
<div class="container main">
  <p><b>First name:</b> <%= @instr.first_name%></p>

  <p><b>Last name:</b> <%= @instr.last_name%></p>
  <p><b>Email:</b> <%= @instr.email%></p>
  <p><b>Active:</b> <%= @instr.active.to_s%></p>
  <p><b>Education:</b> <%= @instr.education%></p>
  <!-- <p>Cohorts: <%= @instr.cohorts.count%></p> -->

</div>
