<h2>Instructors#index</h2>
<a href="/admin/instructors/new"><button type="button" class="btn btn-success">New Instructor</button></a><br>

<div class="container">

  <div class="row">
    <div class="col-md-2">
      FIRST NAME
    </div>
    <div class="col-md-2">
      LAST NAME
    </div>
    <div class="col-md-2">
      AGE
    </div>
    <div class="col-md-2">
      EDUCATION
    </div>
    <div class="col-md-2">
      ACTIVE
    </div>
    <div class="col-md-2">
      OPTIONS
    </div>
  </div>
  </div>

<div class="main overflow-auto">

<% Instructor.all.each do |i|%>

<div id="<%=i.id%>"class="row shadow-sm p-3 mb-5 bg-white rounded">
  <div class="col-md-2 border-right">
    <%= link_to(i.first_name, "/admin/instructors/#{i.id}")%>

  </div>
  <div class="col-md-2 border-right">
    <%= link_to(i.last_name, "/admin/instructors/#{i.id}")%>

  </div>
  <div class="col-md-2 border-right">
    <%= link_to(i.age, "/admin/instructors/#{i.id}")%>

  </div>
  <div class="col-md-2 border-right">
    <%= link_to(i.education, "/admin/instructors/#{i.id}")%>

  </div>
  <div class="col-md-2 border-right">
    <%= link_to(i.active.to_s, "/admin/instructors/#{i.id}")%>

  </div>
  <div class="col-md-2">
    <a href=<%= "/admin/instructors/#{i.id}/edit"%>>
      <i class="fas fa-user-edit float-left"></i>
    </a>
    <a href=<%= "/admin/instructors/#{i.id}"%>>
      <i class="far fa-id-card"></i>
    </a>
    <%= link_to '', "/admin/instructors/#{i.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt float-right"%><br>
  </div>
</div>
<% end%>


</div>
