<h1><%= "#{@instr.first_name} #{@instr.last_name}"%></h1>
<p>Instructor info</p>
<div class="container main">
  <p><b>First name:</b> <%= @instr.first_name%></p>

  <p><b>Last name:</b> <%= @instr.last_name%></p>
  <p><b>Email:</b> <%= @instr.email%></p>
  <p><b>Active:</b> <%= @instr.active.to_s%></p>
  <p><b>Age:</b> <%= @instr.age%></p>
  <p><b>Education:</b> <%= @instr.education%></p>
  <p><b>Salary:</b> <%= @instr.salary%></p>
  <!-- <p>Cohorts: <%= @instr.cohorts.count%></p> -->
    <p>
      <a href=<%= "/admin/instructors/#{@instr.id}/edit"%>>
        <i class="fas fa-user-edit"></i>
      </a>
      <%= link_to '', "/admin/instructors/#{@instr.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt"%>
    </p>
</div>
