
<h1>Edit</h1>
<p>Edit cohort <%= @cohort.name%></p>
<%= form_for [:admin, @cohort] do |f|%>
<div class="form-row">
  <%= f.label :name, {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3  ml-0">
    <%= f.text_field :name%><br>

  </div>
</div>

<div class="form-row">
  <%= f.label :start_date, "Start Date", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3  ml-0">
    <%= f.date_field :start_date, value: @cohort.start_date%><br>
  </div>
</div>

<div class="form-row">
  <%= f.label :end_date, "End Date", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3  ml-0">
    <%= f.date_field :end_date, value: @cohort.end_date%><br>
  </div>
</div>

<div class="form-row">
  <%= f.label :instructor, "Instructor", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3  ml-0">
    <%= collection_select(:cohort, :instructor_id, Instructor.all, :id, :full_credentials) %><br>
  </div>
</div>

<div class="form-row">
  <%= f.label :course_id, "Course", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3  ml-0">
    <%= collection_select(:cohort, :course_id, Course.all, :id, :name) %><br>
  </div>
</div>

<div class="form-row">
  <%= f.label :students, "Add Students", {class: "col-form-label col-md-2 offset-md-3 text-left"}%>
  <div class="form-group col-3  ml-0">
    <%= collection_select(:cohort, :students, Student.all, :id, :full_credentials, {}, {:multiple => true, class: "selectpicker", data: {"live-search": true}})%><br>
  </div>
</div>

<div class="form-group">
  <%= f.submit%>
</div>


<% end%>

<!-- <select class="selectpicker" multiple name="">
  <option value="car">Ketchup</option>
  <option value="car">Mustard</option>
  <option value="car">Mayo</option>
</select>
</div> -->
