
<h1>Edit</h1>
<p>Edit cohort <%= @cohort.name%></p>
<%= form_for [:admin, @cohort] do |f|%>
<%= f.label :name%>
<%= f.text_field :name%><br>
<%= f.label :start_date, "Start Date"%>
<%= f.date_field :start_date, value: @cohort.start_date%><br>
<%= f.label :end_date, "End Date"%>
<%= f.date_field :end_date, value: @cohort.end_date%><br>
<%= f.label :instructor, "Instructor"%>
<%= collection_select(:cohort, :instructor_id, Instructor.all, :id, :full_credentials) %><br>
<%= f.label :course_id, "Course"%>
<%= collection_select(:cohort, :course_id, Course.all, :id, :name) %><br>
<%= f.label :students, "Add Students"%>
<%= collection_select(:cohort, :students, Student.all, :id, :full_credentials, {}, {:multiple => true, class: "selectpicker", data: {"live-search": true}})%><br>
<%= f.submit%>

<% end%>

<!-- <select class="selectpicker" multiple name="">
  <option value="car">Ketchup</option>
  <option value="car">Mustard</option>
  <option value="car">Mayo</option>
</select>
</div> -->
