<h1>Cohorts</h1>
<p>Active Cohorts</p>
<a href="/admin/cohorts/new"><button type="button" class="btn btn-success">New Cohort</button></a><br>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <b>COHORT</b>
    </div>
    <div class="col-md-2">
      <b>START DATE</b>
    </div>
    <div class="col-md-2">
      <b>END DATE</b>
    </div>
    <div class="col-md-2">
      <b>COURSE</b>
    </div>
    <div class="col-md-2">
      <b>INSTRUCTOR</b>
    </div>
    <div class="col-md-2">
      <b>OPTIONS</b>
    </div>
  </div>
</div>
<div class="main overflow-auto">

<% Cohort.all.each do |c|%>
<div id="<%= c.id%>" class="row shadow-sm p-3 mb-5 bg-white rounded">

<div class="col-md-2 border-right">
  <%= link_to(c.name, "/admin/cohorts/#{c.id}")%>

</div>
<div class="col-md-2 border-right">
  <% if c.start_date == nil%>
  <%= "Not yet available"%>
  <% else%>
  <%= link_to(c.start_date, "/admin/cohorts/#{c.id}")%>
<% end%>
</div>
<div class="col-md-2 border-right">
  <% if c.start_date == nil%>
  <%= "Not yet available"%>
  <% else%>
  <%= link_to(c.end_date, "/admin/cohorts/#{c.id}")%>
<% end%>

</div>
<div class="col-md-2 border-right">
  <%= link_to(c.course.name, "/admin/cohorts/#{c.id}")%>

</div>
<div class="col-md-2 border-right">
  <%= link_to("#{c.instructor.last_name}, #{c.instructor.first_name}", "/instructors/#{c.instructor.id}")%>

</div>
  <div class="col-md-2 ">
    <a href=<%= "/admin/cohorts/#{c.id}/edit"%>>
      <i class="fas fa-edit float-left"></i>
    </a>
    <a href=<%= "/admin/cohorts/#{c.id}"%>>
      <i class="fas fa-book"></i>
    </a>

  <%= link_to '', "/admin/cohorts/#{c.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt float-right"%><br>
</div>

</div>
<% end%>
</div>
