<h1><%= @cohort.name%></h1>
<p>Cohort info</p>
<div class="container main">
  <p><b>Cohort Name:</b> <%= @cohort.name%></p>
  <p><b>Course:</b><%= @cohort.course.name%></p>
  <p><b>Start Date:</b> <%= @cohort.start_date%></p>
  <p><b>End Date:</b> <%= @cohort.end_date%></p>
  <p><b>Instructor:</b> <%= "#{@cohort.instructor.last_name}, #{@cohort.instructor.first_name}"%></p>
    <p>
      <a href=<%= "/admin/cohorts/#{@cohort.id}/edit"%>>
        <i class="fas fa-user-edit"></i>
      </a>
      <%= link_to '', "/admin/cohorts/#{@cohort.id}", method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: "fas fa-trash-alt"%>
    </p>
</div>
