<h1><%= @course.name%></h1>
<p>Course info</p>
<div class="container main">
  <p><b>Course Name:</b> <%= @course.name%></p>
  <p><b>Hours:</b> <%= @course.class_hours%></p>
  <p><b>Active Cohorts:</b> <%= @course.cohorts.count%></p>
  <!-- <p>Cohorts: <%= @course.cohorts.count%></p> -->

</div>
