<h1>Edit</h1>
<p>Edit course <%= @course.name%></p>
<%= form_for [:admin, @course] do |f|%>
<%= f.label :name %>
<%= f.text_field :name%><br>
<%= f.label :class_hours, "Class Hours"%>
<%= f.number_field :class_hours%><br>
<%= f.submit "Submit"%>
<%end%>
