<h1>Edit</h1>
<p>Edit course <%= @course.name%></p>
<%= form_for [:admin, @course] do |f|%>
<div class="form-row">
  <%= f.label :Course_name, {class: "col-form-label col-md-2 offset-md-3"}%>
  <div class="form-group col-3 ml-0">
    <%= f.text_field :name%><br>
  </div>
</div>

<div class="form-row">
  <%= f.label :class_hours, "Course Hours", {class: "col-form-label col-md-2 offset-md-3"}%>
  <div class="form-group col-3 ml-0">
    <%= f.number_field :class_hours%><br>
  </div>
</div>

<div class="form-group">
  <%= f.submit "Submit"%>
</div>
<%end%>
