<h1>Add new Course</h1>
<%= form_for [:admin, @course] do |f|%>
<%= f.label :name %>
<%= f.text_field :name%><br>
<%= f.label :class_hours, "Class Hours"%>
<%= f.number_field :class_hours%><br>
<%= f.submit "Submit"%>
<%end%>
