<!DOCTYPE html>
<html>
  <head>
    <title>AdminApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-  select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
      <div class="row">
        <div class="col-md-3">
          <img class="rounded-circle" src="" alt="">
          <nav class="border-right">
            <ul>

              <li>
                <a href="/admin/instructors"><i class="fas fa-chalkboard-teacher float-left"></i>Instructors</a>
              </li>
              <li><a href="/admin/students"><i class="fas fa-graduation-cap float-left"></i>Students</a></li>
              <li><a href="/admin/courses"><i class="fas fa-chalkboard float-left"></i>Courses</a></li>
              <li><a href="/admin/cohorts"><i class="fas fa-apple-alt float-left"></i>Cohorts</a></li>
              <li><a href="/admin/students"><i class="fas fa-cogs float-left"></i>Settings</a></li>
              <li><a href="/login"><i class="fas fa-arrow-circle-left float-left"></i>Logout</a></li>

            </ul>
          </nav>

        </div>
        <div class="col">
          <div class="container main">

          <%= yield %>
          </div>

      </div>
    </div>

  </body>
</html>
