<!DOCTYPE html>
<html>
  <head>
    <title>AdminApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-  select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
      <div class="row">
        <% unless !session[:user]%>
        <% if session[:user] == 'admin'%>
        <%= render :template => 'layouts/admin_nav.html.erb'%>
        <% elsif session[:user] == 'student'%>
        <%= render :template => 'layouts/student_nav.html.erb'%>
        <% else%>
        <%= render :template => 'layouts/instructor_nav.html.erb'%>
        <% end%>
        <% end%>

        <div class="col">
          <div class="container main">

          <%= yield %>
          </div>

      </div>
    </div>

  </body>
</html>
